<nav>
    <a href="/">Home</a>

    <% if (user) { %>
      <span style="margin-right: 10px;">
        Welcome, <strong><%= user.username %></strong>
      </span>

        <a href="/menu">Menu</a>
        <a href="/meals">My Meals</a>
        <a href="/workouts">FitTrack</a>
        <a href="/auth/sign-out">Sign-out</a>
    <% } else { %>
        <a href="/auth/sign-up">Sign up</a>
        <a href="/auth/sign-in">Sign in</a>
    <% } %>
</nav>
<hr>