<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NutriFit</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<%- include('partials/nav.ejs') %>

  <h1>NutriFit</h1>
  
  <% if (user) { %>
    <h2>Welcome, <%= user.username %>!</h2>

    <p class="description">
      NutriFit is a smart health and fitness platform that helps you manage your meals,
      track your nutrition, and order healthy food with ease.<br>
      Browse healthy menus, add meals to your cart, place orders, and keep track of your
      fitness journey — all in one place.
    </p>
    
    <% } else { %>
      
      <h2>Welcome to NutriFit!</h2>

    <p class="description">
      NutriFit is a smart health and fitness platform that helps you manage your meals,
      track your nutrition, and order healthy food with ease.<br>
      Create an account to start tracking your meals, exploring healthy menus, and placing orders.
    </p>

      <p>
        <a href="/auth/sign-up"><button>Sign up</button></a>
        <a href="/auth/sign-in"><button>Sign in</button></a>
      </p>
      <% } %>
      
      
      <div class="home-images">
        <img 
        src="https://media.istockphoto.com/id/641086870/vector/healthy-lifestyle-infographic-with-8-steps-parts-options.jpg?s=612x612&w=0&k=20&c=GsZS_ZZNgMk3JQnIcRUgCcre_T_YJVq1Mx2tWbsP1iQ="
        alt="Healthy food illustration" 
        />
        <img 
        src="https://media.istockphoto.com/id/1592210966/photo/happy-black-man-running-in-park-with-music-smile-and-mockup-in-nature-garden-and-workout.jpg?s=612x612&w=0&k=20&c=pkxEU_3g0-ClVb95hCZYxeVK5QrWFoY5J4uoES9seM8="
        alt="Fitness illustration" 
        />
      </div>
</body>
</html>