<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breakfast</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<%- include('../partials/nav.ejs') %>

    <h1>Breakfast Menu</h1>

    <div class="menu-grid">
        <div class="menu-card">
            <img src="/images/breakfast-1.jpg" alt="Breakfast meal" >
            <h3>Healthy Breakfast 1</h3>
            <p>Balanced and energizing</p>

                <div class="nutrition">
        <p><strong>Calories:</strong> 380 kcal</p>
        <p><strong>Carbs:</strong> 45 g</p>
        <p><strong>Protein:</strong> 22 g</p>
    </div>
        </div>



    <div class="menu-card">
        <img src="/images/breakfast-2.jpg" alt="Breakfast meal" >
        <h3>Healthy Breakfast 2</h3>
        <p>High Protein option</p>

            <div class="nutrition">
        <p><strong>Calories:</strong> 380 kcal</p>
        <p><strong>Carbs:</strong> 45 g</p>
        <p><strong>Protein:</strong> 22 g</p>
    </div>
    </div>



    <div class="menu-card">
        <img src="/images/breakfast-3.jpg" alt="Breakfast meal" >
        <h3>Healthy Breakfast 3</h3>
        <p>Light and nutritious</p>

            <div class="nutrition">
        <p><strong>Calories:</strong> 380 kcal</p>
        <p><strong>Carbs:</strong> 45 g</p>
        <p><strong>Protein:</strong> 22 g</p>
    </div>
    </div>



    <div class="menu-card">
        <img src="/images/breakfast-4.jpg" alt="Breakfast meal" >
        <h3>Healthy Breakfast 4</h3>
        <p>Perfect start of the day</p>

            <div class="nutrition">
        <p><strong>Calories:</strong> 380 kcal</p>
        <p><strong>Carbs:</strong> 45 g</p>
        <p><strong>Protein:</strong> 22 g</p>
    </div>

    </div>
  </div>

</body>
</html>