<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dinner</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<%- include('../partials/nav.ejs') %>
    <h1>Dinner</h1>

    <div class="menu-grid">
        <div class="menu-card">
            <img src="/images/dinner-1.jpg" alt="Dinner meal 1" />
            <h3>Dinner Meal 1</h3>
            <p>Calories: 220 | Carbs: 31g | Protein: 20g</p>
        </div>



    <div class="menu-card">
        <img src="/images/dinner-2.jpg" alt="Dinner meal 2" />
        <h3>Dinner Meal 2</h3>
        <p>Calories: 240 | Carbs: 29g | Protein: 30g</p>
    </div>



    <div class="menu-card">
        <img src="/images/dinner-3.jpg" alt="Dinner meal 3" />
        <h3>Dinner Meal 3</h3>
        <p>Calories: 280 | Carbs: 40g | Protein: 21g</p>
    </div>



    <div class="menu-card">
        <img src="/images/dinner-4.jpg" alt="Dinner meal 4" />
        <h3>Dinner Meal 4</h3>
        <p>Calories: 300 | Carbs: 32g | Protein: 26g</p>
    </div>
  </div>


  <p style="margin-top: 20px;"></p>
    <a href="/menu"><button>Back to Menu</button></a>
  </p>

</body>
</html>