<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breakfast</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<%- include('../partials/nav.ejs') %>

    <h1>Dinner Menu</h1>

    <div class="menu-grid">

        <div class="menu-card">
            <img src="/images/dinner-1.jpg" alt="Healthy Dinner 1" >

            <h3>Healthy Dinner 1</h3>
            <p>Balanced and energizing</p>
            <p>Calories: 350</p>
            <p>Carbs: 35 g</p>
            <p>Protein: 22 g</p>
            <p><strong>Price: 2.500 BHD</strong></p>


            <form action="/cart/add" method="POST">
                <input type="hidden" name="id" value="dinner-1" />
                <input type="hidden" name="name" value="Dinner Meal 1" />
                <input type="hidden" name="price" value="2.500" />
                <input type="hidden" name="image" value="/images/dinner-1.jpg" />
                <button type="submit">Add to Cart</button>
            </form>
        </div>



    <div class="menu-card">
        <img src="/images/dinner-2.jpg" alt="Healthy Dinner 2" >

        <h3>Healthy Dinner 2</h3>
        <p>High Protein option</p>
        <p>Calories: 350</p>
        <p>Carbs: 35 g</p>
        <p>Protein: 22 g</p>
        <p><strong>Price: 2.500 BHD</strong></p>


    <form action="/cart/add" method="POST">
        <input type="hidden" name="id" value="dinner-2" />
        <input type="hidden" name="name" value="Dinner Meal 2" />
        <input type="hidden" name="price" value="2.500" />
        <input type="hidden" name="image" value="/images/dinner-2.jpg" />
        <button type="submit">Add to Cart</button>
    </form>
    </div>


    <div class="menu-card">
        <img src="/images/dinner-3.jpg" alt="Healthy Dinner 3" >
        <h3>Healthy Dinner 3</h3>
        <p>Light and nutritious</p>
        <p>Calories: 350</p>
        <p>Carbs: 35 g</p>
        <p>Protein: 22 g</p>
        <p><strong>Price: 2.500 BHD</strong></p>


    <form action="/cart/add" method="POST">
        <input type="hidden" name="id" value="dinner-3" />
        <input type="hidden" name="name" value="dinner Meal 3" />
        <input type="hidden" name="price" value="2.500" />
        <input type="hidden" name="image" value="/images/dinner-3.jpg" />
        <button type="submit">Add to Cart</button>
    </form>
    </div>


    <div class="menu-card">
        <img src="/images/dinner-4.jpg" alt="Healthy Dinner 4" >
        <h3>Healthy Dinner 4</h3>
        <p>Perfect start of the day</p>
        <p>Calories: 350</p>
        <p>Carbs: 35 g</p>
        <p>Protein: 22 g</p>
        <p><strong>Price: 2.500 BHD</strong></p>


    <form action="/cart/add" method="POST">
        <input type="hidden" name="id" value="dinner-4" />
        <input type="hidden" name="name" value="Dinner Meal 4" />
        <input type="hidden" name="price" value="2.500" />
        <input type="hidden" name="image" value="/images/dinner-4.jpg" />
        <button type="submit">Add to Cart</button>
    </form>
    </div>

</div>

<p>
    <a href="/menu"><button>Back to Menu</button></a>
    <a href="/cart"><button>Go to Cart</button></a>
</p>

</body>
</html>