<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <title>Menu</title>

</head>
<body>
<%- include('../partials/nav.ejs') %>

    <h1>Healthy Menu</h1>
    <p>Choose a Category to view 4 meals in a 2x2 grid.</p>

    <div class="category-links">
        <a href="/menu/breakfast"><button>Breakfast</button></a>
        <a href="/menu/lunch"><button>Lunch</button></a>
        <a href="/menu/dinner"><button>Dinner</button></a>
        <a href="/menu/snack"><button>Snack</button></a>
    </div>

</body>
</html>