<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breakfast</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<%- include('../partials/nav.ejs') %>

    <h1>Lunch Menu</h1>

    <div class="menu-grid">

        <div class="menu-card">
            <img src="/images/lunch-1.jpg" alt="Healthy Lunch 1" >

            <h3>Healthy Lunch 1</h3>
            <strong><p>Chicken Sandwich</p></strong>
            <p>Calories: 437</p>
            <p>Carbs: 27 g</p>
            <p>Protein: 12 g</p>
            <p><strong>Price: 1.800 BHD</strong></p>


            <form action="/cart/add" method="POST">
                <input type="hidden" name="id" value="lunch-1" />
                <input type="hidden" name="name" value="Lunch Meal 1" />
                <input type="hidden" name="price" value="1.800" />
                <input type="hidden" name="image" value="/images/lunch-1.jpg" />
                <button type="submit">Add to Cart</button>
            </form>
        </div>



    <div class="menu-card">
        <img src="/images/lunch-2.jpg" alt="Healthy Lunch 2" >

        <h3>Healthy Lunch 2</h3>
        <strong><p>Chicken Noodles</p></strong>
        <p>Calories: 321</p>
        <p>Carbs: 21 g</p>
        <p>Protein: 29 g</p>
        <p><strong>Price: 1.900 BHD</strong></p>


    <form action="/cart/add" method="POST">
        <input type="hidden" name="id" value="lunch-2" />
        <input type="hidden" name="name" value="Lunch Meal 2" />
        <input type="hidden" name="price" value="1.900" />
        <input type="hidden" name="image" value="/images/lunch-2.jpg" />
        <button type="submit">Add to Cart</button>
    </form>
    </div>


    <div class="menu-card">
        <img src="/images/lunch-3.jpg" alt="Healthy Lunch 3" >
        <h3>Healthy Lunch 3</h3>
        <strong><p>Grilled Salmon</p></strong>
        <p>Calories: 413</p>
        <p>Carbs: 32 g</p>
        <p>Protein: 22 g</p>
        <p><strong>Price: 2.100 BHD</strong></p>


    <form action="/cart/add" method="POST">
        <input type="hidden" name="id" value="lunch-3" />
        <input type="hidden" name="name" value="Lunch Meal 3" />
        <input type="hidden" name="price" value="2.100" />
        <input type="hidden" name="image" value="/images/lunch-3.jpg" />
        <button type="submit">Add to Cart</button>
    </form>
    </div>


    <div class="menu-card">
        <img src="/images/lunch-4.jpg" alt="Healthy Lunch 4" >
        <h3>Healthy Lunch 4</h3>
        <strong><p>Chicken Sub Sandwich</p></strong>
        <p>Calories: 325</p>
        <p>Carbs: 31 g</p>
        <p>Protein: 19 g</p>
        <p><strong>Price: 1.700 BHD</strong></p>


    <form action="/cart/add" method="POST">
        <input type="hidden" name="id" value="lunch-4" />
        <input type="hidden" name="name" value="Lunch Meal 4" />
        <input type="hidden" name="price" value="1.700" />
        <input type="hidden" name="image" value="/images/lunch-4.jpg" />
        <button type="submit">Add to Cart</button>
    </form>
    </div>

</div>

<p>
    <a href="/menu"><button>Back to Menu</button></a>
    <a href="/cart"><button>Go to Cart</button></a>
</p>

</body>
</html>