<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breakfast</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<%- include('../partials/nav.ejs') %>

    <h1>Snack</h1>

    <div class="menu-grid">
        <div class="menu-card">
            <img src="/images/snack-1.jpg" alt="Snack" />
            <h3>Snack</h3>
            <p>Balanced and energizing</p>
        </div>



    <div class="menu-card">
        <img src="/images/snack-2.jpg" alt="Snack" />
            <h3>Snack</h3>
            <p>High Protein option</p>
    </div>



    <div class="menu-card">
        <img src="/images/snack-3.jpg" alt="Snack" />
            <h3>Snack</h3>
            <p>Light and nutritious</p>
    </div>



    <div class="menu-card">
        <img src="/images/snack-4.jpg" alt="Snack" />
            <h3>Snack</h3>
            <p>Perfect start of the day</p>
    </div>
  </div>

</body>
</html>